.student{
    padding: $mg-3 0;
    .student__content{
        width: 90%;
        margin: 0 auto;
        h2{
            font-size:$fs-5;
            margin-bottom: $mg-2;
        }
    }

}

@media screen and (min-width:1187px) and (max-width:1321px) {
    .student{
        .card--feedback{
            .card-body{
                .card-text{
                    @include styleText($color-black-0, $fs-1, $fw-0)
                }
            }
            
        }
    }
}